.buttonMargin {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.NavBarFont {
  font-family: "Bebas Neue", cursive;
  margin: 0 !important;
}

.NavHeightFix {
  height: auto;
}

.pic-width {
  max-width: 19rem;
  margin-bottom: 1.5rem;
}

.text-width {
  max-width: 55rem;
}
